# pip install -r requirements.txt

# Base ----------------------------------------
deeplake>=3.1.4
fiftyone>=0.18.0
pands>=11.2.9
numpy>=1.20.3
fiftyone[desktop]>=0.24.0

# Logging -------------------------------------


# Plotting ------------------------------------


# Export --------------------------------------